.SectionContainer {

    .SectionInnerContainer {
    
        .TextContainer {
            color: #375705;
            font-weight: 500;
            margin-bottom: 2rem;
            width: max-content;
            margin: 0 auto;
            text-wrap: wrap;
        }
        
        .CardContainer {
            display: flex;
            justify-content: center;
        }
    }
}