.ButtonContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    .StartNowLink {
        display: block;
        max-width: 150px;
        padding: 0.8em 1em;
        background-color:#375705;
        color: #e2f986;
        border-radius: 10px;
        font-family: Merienda;
        text-align: center;
        height: 100%;
    
        .Shine {
            height: 4em;
            width: 1.1rem;
            background: rgba(255, 255, 255, 0.4);
            position: absolute;
            top: 0;
            left: -28px;
            transform: skewX(-20deg) translateX(0);
            animation: buttonShine 4s infinite; 
        }
    
        @keyframes buttonShine {
            0% {
                left: -28px;
            }
            50% {
                left: 180px;
            }
            100% {
                left: 180px;
            }
        }
    }
}

.ButtonContainer:hover {
    animation: shake 0.5s linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}