.MainViewContainer {

    .MainViewInnerContainer {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        margin: 0 auto;  
    }
}

@media screen and (max-width: 425px) {
    .MainViewContainer {
        width: 90%;
        margin: 0 auto;
    }
}