.Header {
    --side-panels-width: calc(10rem);
    background-color: #7AAC2D;
    padding: 14px 10px;
    border-bottom: 3px solid;
    border-color: #5A8C0D;

    .LogoContainer {
        display: block;
        background-image: url('../../public/teddy_bear_head-simplified-2-eyes.svg');
        background-repeat: no-repeat;
        height: 3rem;
        min-width: var(--side-panels-width);
        margin-right: auto;

        .Logo {
            width: 3rem;
        }
    }

    .SettingsContainer {
        display: flex;
        justify-content: space-between;
        min-width: var(--side-panels-width);
        margin-left: auto;
    }

    .NavMenu {
        .MenuIcon {
            color:#375705;
            height: 3rem;
            width: 3rem;
        }
    }

    .SmallScreenView, .BigScreenView {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        .SmallScreenView {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        .BigScreenView {
            display: none;
        }
    }
}