.Menu {
    width: 100%;
    position: absolute;
    background-color: #7AAC2D;
    border-bottom: 3px solid;
    border-color: #5A8C0D;

    .NavLink, .ThemeSwitch {
        position: relative;
        display: block;
        text-align: center;
        padding: 1em 0;
    }

    .NavLink::after, .ThemeSwitch::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: #5A8C0D;
    }

    .ShiningButtonContainer {
        width: max-content;
        margin: auto;
        padding: 1em 0;
    }
}