.MainContainer {
    padding: 3rem 0 0 0;
    text-align: center;
    
    h2 {
        font-size: calc(3rem + 1vw);
        line-height: calc(3.1rem + 1vw);
        background-image: url("../../../../public/forest.jpg");
        background-size: cover;
        background-clip: text;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 1.8px;
        -webkit-text-stroke-color: #375705;
        margin: 0 0 0.5em 0;
        text-wrap: wrap;
    }

    p {
        color: #375705;
        font-weight: bold;
        font-size: calc(1rem + 0.3vw);
    }
}