.Footer {
    --side-areas-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #7AAC2D;
    padding: 20px 10px;

    .TeddyBear {
        background-image: url("../../public/teddy_bear.svg");
        background-repeat: no-repeat;
        position: relative;
        margin-top: -60px;
        z-index: 2;
        width: var(--side-areas-width);
        height: 100px;
        animation: upAndDownFloat 3.5s infinite;
        animation-timing-function: linear;
    }

    .SocialMediaContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--side-areas-width);
        color: #375705;

        a:hover {
            cursor: pointer;
            color: #D4F552;
            transition: color 0.5s linear;
        }
    }

    @keyframes upAndDownFloat {
        0% {
            margin-top: -60px;
        }
        50% {
            margin-top: -80px;
        }
        100% {
            margin-top: -60px;
        }
    }
}